<%= title("Chỉnh sửa Học sinh") %>

<header>
	<h2>Chỉnh sửa Học sinh</h2>
</header>

<%= render 'form', klass: @klass, student: @student %>

<header></header>
<%= link_to "Trở về", @klass, class: "back" %>