#dashboard {
  
  img {
    height: 134px;
  }

  .col-md-6 {
    padding: 25px;
  }

  .student, .klass, .teacher, .rule {
    text-align: center;
  }

  .student {
    background-color: #30a5ff;
  }

  .klass {
    background-color: #ffb53e;
  }

  .teacher {
    background-color: #1ebfae;
  }

  .rule {
    background-color: #f9243f;
  }
}