@media(min-width: $screen-sm-min) {
	header {
		h1, h2, h3, h4, h5, h6 {
			max-width: 55%;
		}
	}

	ul.actions {
		position: absolute;
		bottom: -2px;
		right: 2px;
		max-width: 45%;
		text-align: right;
	}

	.info {
		max-width: 65%;
	}
}

@media(max-width: $screen-sm-max) {
	a.edit, a.delete {
		margin-bottom: 5px;
	}

}

@media(max-width: $screen-xs-max) {
	li.navbar-text {
		padding-left: 25px;
	}

	.navbar-header img {
    margin-left: 20px;
  }
}