@media(min-width: $screen-sm-min) {
	header {
		h1, h2, h3, h4, h5, h6 {
			max-width: 55%;
		}
	}

	ul.actions {
		position: absolute;
		bottom: -2px;
		right: 2px;
		max-width: 45%;
		text-align: right;
	}

	header.search-in-list {
		h1, h2, h3, h4, h5, h6 {
			max-width: 35%;
		}
	}

	.info {
		max-width: 65%;
	}
}

@media(max-width: $screen-sm-max) {
	a.edit, a.delete, a.reset {
		margin-bottom: 5px;
	}

	.col-md-6 {
		text-align: center;
	}
}

@media(max-width: $screen-xs-max) {
	li.navbar-text {
		padding-left: 25px;
	}

	.navbar-header img {
    margin-left: 20px;
  }

  .btn-search {
		margin-top: 5px;
		width: 100%;
	}

	header.search-in-list {
		margin-top: 50px !important;

		ul.actions {
			top: -25px;
		}
	}
}